.linkedin-link {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $gray-light;
  color: $gray-dark;
  border-radius: 50%;
  background-color: $white;
  text-decoration: none;
  cursor: pointer;
  flex-shrink: 0;
  transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;

  &.linkedin-link_transparent {
    background-color: transparent;
    border-color: $white;
    color: $white;
  }

  &:hover {
    background-color: $blue;
    border-color: $blue;
    color: $white;
  }

  i {
    font-size: 28px;
  }

  @media (min-width: 1200px) {
    width: 80px;
    height: 80px;

    i {
      font-size: 40px;
    }
  }
}
