@import "../../config"

.main
    margin-top: $header-height
    .content
        background: $secondary-color no-repeat center center/contain
        background-color: $secondary-color
        display: flex
        min-height: calc(100vh - #{$header-height})
    .mainContent
        position: relative
        cursor: pointer
        .items
            max-height: calc(100vh - #{$header-height})
            position: absolute
            bottom: 0
            right: 0
            left: 0
            color: $text-color
            font-family: OpenSans
            padding: $default-gap
            background-color: rgba(0,0,0,.5)
            transition: .4s
            opacity: 0
            cursor: default
            .title
                color: $accent-color
                margin-bottom: $default-gap
                font-size: 30px
        .items.show
            opacity: 1
    .errorContent
        align-items: center
        justify-content: center
        .error
            padding: 0 $default-gap
            font-family: OpenSans
            text-align: center
            color: $text-color
            
@import "./media.module"