@font-face {
  font-family: "DM Mono";
  font-display: swap;
  src: url("../../fonts/dm-mono-regular.ttf");
}

@font-face {
  font-family: "Rubic";
  font-display: swap;
  src: url("../../fonts/rubik-regular.ttf");
}

@font-face {
  font-family: "Satoshi";
  font-display: swap;
  src: url("../../fonts/satoshi-variable.ttf");
}
