@import "../../config"
    
.header
    position: fixed
    top: 0
    right: 0
    left: 0
    background-color: $primary-color
    .headerContent
        max-width: $max-content-width
        margin: 0 auto
        height: $header-height
        padding: 0 $default-gap
        display: flex
        justify-content: space-between
        align-items: center
        .logoContainer
            width: $icon-size
            height: $icon-size
            .logoBtn
                width: $icon-size
                height: $icon-size
                background-color: inherit
                border: none
                &:active
                    border: none
        .datePickerContainer
            .datePicker
                padding: 10px
                border: 1px solid $primary-color
                &:focus
                    border-color: $accent-color
        .toGalleryBtnContainer
            display: flex
            align-items: center
            .toGalleryBtn
                width: $icon-size
                height: $icon-size
                background-color: inherit
                border: none

        