$max-content-width: 1170px
$icon-size: 50px
$header-height: 80px
$default-gap: 20px

$primary-color: #2C2C32
$secondary-color: #25252B
$text-color: #ececec
$accent-color: #f2a365

body
    margin: 0
    padding: 0

img
    max-width: 100%

@font-face 
    font-family: "OpenSans"
    src: url("./static/fonts/OpenSans-Regular.ttf")
    font-display: swap