p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  margin-bottom: 0;
}

.heading {
  line-height: 1.25;
  letter-spacing: 1px;
  font-family: "Automate OT", serif;
}

.body {
  line-height: 1.35;
  font-family: "Automate OT", serif;
}
