p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  margin-bottom: 0;
}

.heading-1 {
  line-height: 1.25;
  letter-spacing: -1.5px;
  font-weight: 400;
  font-family: "Satoshi", sans-serif;
}

.heading-2 {
  line-height: 1.25;
  letter-spacing: -1.5px;
  font-weight: 400;
  font-family: "Satoshi", sans-serif;
}

.heading-3 {
  line-height: 1.25;
  letter-spacing: -1px;
  font-weight: 400;
  font-family: "Satoshi", sans-serif;
}

.heading-4 {
  line-height: 1.25;
  font-weight: 500;
  font-family: "Satoshi", sans-serif;
}

.heading-5 {
  line-height: 1.25;
  letter-spacing: -1.5px;
  font-weight: 300;
  font-family: "DM Mono", sans-serif;
}

.body {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Rubic", sans-serif;
}

.caption-md {
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: -1.5px;
  font-family: "DM Mono", sans-serif;
}

.caption-sm {
  line-height: 1.25;
  font-weight: 300;
  font-family: "Rubic", sans-serif;
}

.link {
  font-weight: 400;
  font-family: "DM Mono", sans-serif;
}

a, a:active, a:focus {
  outline: none;
}
