.text-black {
  color: $black;
}

.text-gray-dark {
  color: $gray-dark;
}

.text-gray-light {
  color: $gray-light;
}

.text-white {
  color: $white;
}

.text-blue {
  color: $blue;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 700;
}
